
.black-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}
.black-textarea.md-form .prefix.active {
    color: black;
}


.active-black-textarea-2 textarea.md-textarea {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}
.active-black-textarea-2.md-form label.active {
    color: black;
}
.active-black-textarea-2.md-form label {
    color: black;
}
.active-black-textarea-2.md-form .prefix {
    color: black;
}

input{
    padding: 15px;
    margin-left: 400px;

}

.button{
    margin-left: 460px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

}
